@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;500;700&family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// fonts
$bebas: 'Bebas Neue', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

// colors
$primary: #afd9d5;
$secondary: #d5d8d6;


body {
    background-color: rgb(175,217,213);
    background-color: linear-gradient(90deg, rgba(175,217,213,1) 62%, rgba(213,216,214,1) 100%); 
}